body {

    background-color: #2274A5;;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: #89023E;
    color: white;
    margin: auto;
}

#message {
    color: white;
    text-align: center;
    
}
#reset {
    font-weight: bold;
    padding: 10px;
    font-size: large;
    border-radius: 4px;
}

#help {
    font-weight: bold;
    padding: 10px;
    font-size: large;
    border-radius: 4px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 56.25em; 
    gap: 10px;
}
.card {
    width: 12.5em;
    height: 5.6em;
    border: 3px solid black;
    background-color: whitesmoke;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.choices {
   text-align: center;
}

#tLClues {
    text-align: center;
    color: white;
}

#one {
    border-radius: 8px;
    width: 3em;
    height: 2.8em;
}
#two {
    border-radius: 8px;
    width: 3em;
    height: 2.8em;
}
#three {
    border-radius: 8px;
    width: 3em;
    height: 2.8em;
}